@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario{
    margin-top: 3rem;
    .campo{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        label{
            flex: 0 0 10rem; //label de ancho 10rem
        }
        input{
            flex: 1;//abarca el espacio disponible
            padding: 1rem;
            border: none;
            background-color: lighten(v.$gris, 49%);
        }
    }
}