@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    background-color: v.$grisClaro;

    @include m.tablet {
        height: 100vh;
        display: flex;
    }

    .principal{
        flex: 1; //acupar el espacio disponible en pantalla
        overflow: scroll;
    }

    .nombre-pagina{
        text-align: center;
        font-size: 2.7rem;
        margin-top: 3rem;
    }

    .formulario{
        input:not([type='submit']) {
            background-color: v.$blanco;
        }

        // select[type='option'] {
        //     // @include m.boton (v.$verde, v.$blanco);
        //     // padding: 1rem;
        //     font-weight: bold;
        // }
    }

    // .enlace{
    //     color: v.$verde;
    //     &:hover{
    //         cursor:pointer;
    //         color: darken(v.$indigo, 50%);
    //     }
    // }
}