@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-nueva-tarea{
    display: flex;
    justify-content: center;
    
    .agregar-tarea{
        @include m.boton(v.$cyan, v.$blanco);
    }
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    .no-tareas{
        text-align: center;
    }
    .listado-tarea{
        padding: .5rem 2rem;
        border-bottom: 2px solid darken(v.$grisClaro, 5%);
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-of-type{
            border: none;
        }

        .opciones-tarea{
            display: flex;
            gap: 1rem;

            button{
                border: none;
                font-size: 1.4rem;
                padding: .5rem 1rem;
                text-transform: uppercase;
                font-weight: bold;
                border-radius: 1rem;

                &:hover{
                    cursor: pointer;
                }
            }

            .completa{
                background-color: v.$azul;
                color: v.$blanco;
            }
            .pendiente{
                background-color: v.$naranja;
                color: v.$blanco;
            }
            .boton-eliminar{
                background-color: v.$rojo;
                color: v.$blanco;
            }
        }
    }
}